body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #050505; /* Deep void color */
    font-family: 'VT323', monospace;
    color: #fff;
    user-select: none;
    -webkit-user-select: none;
    touch-action: none;
}

#gameCanvas {
    display: block;
    width: 100vw;
    height: 100vh;
}
